@media (max-width: 768px){

    
    form{
    width: 95%;
    background: white;
    border-radius: 10px;
    border: solid yellow 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: linear-gradient(#ffc017, #00c7ff);
    }
    
}